In [3]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [4]:
df= pd.read_csv('/content/pokemon_alopez247.csv')

In [5]:
df.columns

Index(['Number', 'Name', 'Type_1', 'Type_2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp_Atk', 'Sp_Def', 'Speed', 'Generation', 'isLegendary',
       'Color', 'hasGender', 'Pr_Male', 'Egg_Group_1', 'Egg_Group_2',
       'hasMegaEvolution', 'Height_m', 'Weight_kg', 'Catch_Rate',
       'Body_Style'],
      dtype='object')

In [6]:
df.head()

   Number        Name Type_1  ... Weight_kg  Catch_Rate      Body_Style
0       1   Bulbasaur  Grass  ...       6.9          45       quadruped
1       2     Ivysaur  Grass  ...      13.0          45       quadruped
2       3    Venusaur  Grass  ...     100.0          45       quadruped
3       4  Charmander   Fire  ...       8.5          45  bipedal_tailed
4       5  Charmeleon   Fire  ...      19.0          45  bipedal_tailed

[5 rows x 23 columns]

In [7]:
df = df[['isLegendary','Generation', 'Type_1', 'Type_2', 'HP', 'Attack', 'Defense', 'Sp_Atk', 'Sp_Def', 'Speed','Color','Egg_Group_1','Height_m','Weight_kg','Body_Style']]

In [8]:
df['isLegendary']= df['isLegendary'].astype(int)

In [9]:
def dummy_creation(df, dummy_categories):
    for i in dummy_categories:
        df_dummy = pd.get_dummies(df[i])
        df = pd.concat([df,df_dummy],axis=1)
        df = df.drop(i, axis=1)
    return(df)

In [10]:
df.head()

   isLegendary  Generation Type_1  ... Height_m  Weight_kg      Body_Style
0            0           1  Grass  ...     0.71        6.9       quadruped
1            0           1  Grass  ...     0.99       13.0       quadruped
2            0           1  Grass  ...     2.01      100.0       quadruped
3            0           1   Fire  ...     0.61        8.5  bipedal_tailed
4            0           1   Fire  ...     1.09       19.0  bipedal_tailed

[5 rows x 15 columns]

In [11]:
df = dummy_creation(df, ['Egg_Group_1', 'Body_Style', 'Color','Type_1', 'Type_2'])

In [12]:
df.head()

   isLegendary  Generation  HP  Attack  ...  Psychic  Rock  Steel  Water
0            0           1  45      49  ...        0     0      0      0
1            0           1  60      62  ...        0     0      0      0
2            0           1  80      82  ...        0     0      0      0
3            0           1  39      52  ...        0     0      0      0
4            0           1  58      64  ...        0     0      0      0

[5 rows x 85 columns]

In [13]:
def train_test_splitter(DataFrame, column):
    df_train = DataFrame.loc[df[column] != 1]
    df_test = DataFrame.loc[df[column] == 1]

    df_train = df_train.drop(column, axis=1)
    df_test = df_test.drop(column, axis=1)

    return(df_train, df_test)

df_train, df_test = train_test_splitter(df, 'Generation')

In [14]:
def label_delineator(df_train, df_test, label):
    
    train_data = df_train.drop(label, axis=1).values
    train_labels = df_train[label].values
    test_data = df_test.drop(label,axis=1).values
    test_labels = df_test[label].values
    return(train_data, train_labels, test_data, test_labels)

In [15]:
train_data, train_labels, test_data, test_labels = label_delineator(df_train, df_test, 'isLegendary')

In [16]:
def data_normalizer(train_data, test_data):
    train_data = preprocessing.MinMaxScaler().fit_transform(train_data)
    test_data = preprocessing.MinMaxScaler().fit_transform(test_data)
    return(train_data, test_data)

train_data, test_data = data_normalizer(train_data, test_data)

In [17]:
length = train_data.shape[1]

model = keras.Sequential()
model.add(keras.layers.Dense(500, activation='relu', input_shape=[length,]))
model.add(keras.layers.Dense(2, activation='softmax'))

In [18]:
model.compile(optimizer='sgd', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [25]:
loss_value, accuracy_value = model.evaluate(test_data, test_labels)
print(f'Our test accuracy was {accuracy_value}')

5/5 [==============================] - 0s 6ms/step - loss: 0.7220 - accuracy: 0.3576
Our test accuracy was 0.3576158881187439

In [26]:
def predictor(test_data, test_labels, index):
    prediction = model.predict(test_data)
    if np.argmax(prediction[index]) == test_labels[index]:
        print(f'This was correctly predicted to be a \"{test_labels[index]}\"!')
    else:
        print(f'This was incorrectly predicted to be a \"{np.argmax(prediction[index])}\". It was actually a \"{test_labels[index]}\".')
        return(prediction)

In [27]:
predictor(test_data, test_labels, 149)

This was correctly predicted to be a "1"!